 <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" [routerLink]="['/','home']">
                    <img class="navbar-brand page-scroll" src="../../assets/img/logo.png"> Series Carpincho
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" [routerLink]="['/','perfil',this.id]">Mi cuenta</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div *ngIf="u != undefined">
    <section class="bg-dark" id='usuario'>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center" id="info-profile">
                    <img style="border-radius:100%" src='../../assets/img/perfil/{{u.img}}.png'/>
							<p>
								<input type="file" (change)="selectFile($event)">
                                <a (click)="updateImagen()" class="btn btn-primary btn-xl">Cambiar Imagen</a>
							</p>
                </div>

				
                <div class="col-lg-6 text-center" id="{{u.user}}">
                    <table class="edit">
                        <tr>
                            <td>
                                Nombre
                            </td>
                            <td>
                                <input type="text" size="25" maxlength="20" [(ngModel)]="u.nombre">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Apellidos
                            </td>
                            <td>
                                <input type="text" size="25" maxlength="30" value="" [(ngModel)]="u.apellido">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Usuario*
                            </td>
                            <td>
                                <input type="text" size="25" maxlength="20" [(ngModel)]="u.user">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Email*
                            </td>
                            <td>
                                <input type="text" size="25" maxlength="20" [(ngModel)]="u.email">
                            </td>
                        </tr>
                    </table>
                    <a (click)="updateUsuario()" class="btn btn-primary btn-xl">Guardar</a>
                    <a [routerLink]="['/','perfil',this.id]" class="btn btn-primary btn-xl">Cancelar</a>
                </div>
            </div>
        </div>
    </section>
    </div>
