	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> Menu <i
						class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top"> <img
					class="navbar-brand page-scroll" src="/assets/img/logo.png"> Series
					Carpincho
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="page-scroll" href="#about">Información</a></li>
					<li><a class="page-scroll" href="#series">Series</a></li>
					<li><a class="page-scroll" href="#contact">Contacto</a></li>
					<li><a class="page-scroll" href="/perfil">Mi cuenta</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<header>
		<div class="header-content">
			<div class="header-content-inner">
				<h1 id="homeHeading">Comenta, valora, recomienda</h1>
			</div>
		</div>
	</header>

	<section class="bg-primary" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h2 class="section-heading">¡Bienvenido a Series Carpincho!</h2>
					<hr class="light">
					<p class="text-faded">Sigue de cerca tus series favoritas.</p>
					<p class="text-faded">En Series Carpincho podrás comentar, ver
						los comentarios de las series más de moda y valorarlas con
						puntuaciones de 1 a 5 carpinchos.</p>
					<p class="text-faded">Además, si te registras podrás disfrutar
						de los comentarios libres de spoilers, añadir a tu perfil tus
						series favoritas y recomendarlas a tus amigos.</p>
					<a href="/perfil"
						class="page-scroll btn btn-default btn-xl sr-button">¡Únete
						ya!</a>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-dark" id="series">
		<div class="order-by">
			<ul class="nav nav-tabs">
				<li>
					<p>Ordenar por:</p>
				</li>
				<li><a class="page-scroll" href="/?size={{numero}}&sort=nombre#series">Nombre</a></li>
				<li><a class="page-scroll" href="/?size={{numero}}&sort=valoracion,desc#series">Valoración</a></li>
				<li><a class="page-scroll" href="/?size={{numero}}&sort=año#series">Año</a></li>
			</ul>
		</div>
		<div class="container">
			<div class="row">
				<div id={{id}} class="col-lg-3 text-center">
					<h2 class="section-heading"></h2>
					<img src="img/series_icon/{{img}}.jpg" width='200' height='200'>
						<a type="button" class="mas-info" href="/{{url}}" > <span
						class="glyphicon glyphicon-plus"></span>
					</a>
					<div class="col-lg-12 text-center">
					<img src="img/{{valoracion}}.png" width='200' height='40' style='margin-top:10px'>
					<hr class="light">
					</div>
				</div>
				<div class="col-lg-12 text-center">
				<a id='mas' href="/?size={{next}}#{{numero}}" class="page-scroll btn btn-default btn-xl sr-button">Ver más</a>
				</div>
			</div>
		</div>
	</section>

	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h2 class="section-heading">Contacta con nosotros</h2>
					<hr class="primary">
					<p>Comunícanos cualquier duda o cualquier problema por teléfono
						o e-mail.</p>
				</div>
				<div class="col-lg-4 col-lg-offset-2 text-center">
					<i class="fa fa-phone fa-3x sr-contact"></i>
					<p>123-456-6789</p>
				</div>
				<div class="col-lg-4 text-center">
					<i class="fa fa-envelope-o fa-3x sr-contact"></i>
					<p>
						<a href="mailto:your-email@your-domain.com">contacto@seriescarpincho.com</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">&copy; 2017 SeriesCarpincho</div>

			</div>
		</div>
	</footer>