<section class="bg-dark" id="series">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h1>Regístrate en Series Carpincho</h1>
                <table class="edit">
                    <tr>
                        <td>
                            Nombre*
                        </td>
                        <td>
                            <input type="text" size="25" maxlength="20" [(ngModel)]="nombre">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Username*
                        </td>
                        <td>
                            <input type="text" size="25" maxlength="20" [(ngModel)]="user">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email*
                        </td>
                        <td>
                            <input type="text" size="25" maxlength="20" [(ngModel)]="email">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Contraseña*
                        </td>
                        <td>
                            <input type="password" size="25" maxlength="20" [(ngModel)]="passwordHash">
                        </td>
                    </tr>
                </table>

                    <a class="btn btn-primary btn-xl" (click)="registro()">Confirmar</a>
                    <a [routerLink]="['/','home']" class="btn btn-primary btn-xl">Cancelar</a>
            </div>
            <div class="col-lg-6 text-center">
                <h1>Bienvenido a Series Carpincho</h1>
                <table class="edit">
                    <tr>
                        <td>
                            Username*
                        </td>
                        <td>
                            <input type="text" size="25" maxlength="20" [(ngModel)]="userlog">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Contraseña*
                        </td>
                        <td>
                            <input type="password" size="25" maxlength="20" [(ngModel)]="passlog">
                        </td>
                    </tr>
                </table>
                <a class="btn btn-primary btn-xl" (click)="logIn()" >Confirmar</a>
                <a [routerLink]="['/','home']" class="btn btn-primary btn-xl">Cancelar</a>
            </div>
        </div>
    </div>
</section>