<section class="bg-dark" id="series">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h1>Regístrate en Series Carpincho</h1>
                    <div class="top-row">
                        <div class="field-wrap">
                            <label>
                                Nombre<span class="req">*</span>
                            </label>
                            <input type="text" [(ngModel)]="nombre" />
                        </div>

                        <div class="field-wrap">
                            <label>
                                Username<span class="req">*</span>
                            </label>
                            <input type="text" [(ngModel)]="user" />
                        </div>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Email<span class="req">*</span>
                        </label>
                        <input type="text" [(ngModel)]="email" />
                    </div>

                    <div class="field-wrap">
                        <label>
                            Contraseña<span class="req">*</span>
                        </label>
                        <input type="text" [(ngModel)]="passwordHash" />
                    </div>

                    <input class="button button-block" type='submit' value='Confirmar' (click)="registro()" />
                    <a [routerLink]="['/','home']" class="button button-block">Cancelar</a>
            </div>
            <div class="col-lg-6 text-center">
                <h1>Bienvenido a Series Carpincho</h1>

                <div class="field-wrap">
                    <label>
                            Usuario<span class="req">*</span>
                        </label>
                    <input type="text" [(ngModel)]="userlog" />
                </div>

                <div class="field-wrap">
                    <label>
                            Contraseña<span class="req">*</span>
                        </label>
                    <input type="password" [(ngModel)]="passlog" />
                </div>

                <input class="button button-block" type='button' value='Confirmar' (click)="autenticacion()" />
                <a [routerLink]="['/','home']" class="button button-block">Cancelar</a>
            </div>
        </div>
    </div>
</section>