<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Series Carpincho</title>

<!-- Bootstrap Core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
	rel='stylesheet' type='text/css'>

<!-- Plugin CSS -->
<link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

<!-- Theme CSS -->
<link href="css/creative-100.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> Menu <i
						class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand page-scroll" href="/"> <img
					class="navbar-brand page-scroll" src="img/logo.png"> Series
					Carpincho
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="page-scroll" href="#informacion">Información</a>
					</li>
					<li><a class="page-scroll" href="#capitulos">Capítulos</a></li>
					<li><a class="page-scroll" href="#comentarios">Comentarios</a>
					</li>
					<li><a class="page-scroll" href="#contact">Mi cuenta</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<header>
		<div class="header-content">
			<div class="header-content-inner"></div>
		</div>
	</header>

	<section class="bg-primary" id="informacion">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="col-lg-6 text-center">
						<h1 class="section-heading">
							Los 100
							<button class='estrella'></button>
							<button class='recomendar'></button>
						</h1>
						<p class="text-faded">'Los 100' es un drama post apocalíptico
							escrito por Jason Rothenberg (Body Politic), basado en los libros
							de Kass Morgan. La historia está centrada en lo que ocurre con la
							civilización casi cien años después de que una guerra nuclear la
							haya devastado.</p>
						<p class="text-faded">Después de que ocurriese esa
							catastrófica guerra nuclear, se produjo una huida de los humanos
							que consiguieron sobrevivir. El futuro de la supervivencia de la
							raza humana está en manos de unos jóvenes delincuentes que
							consiguieron huir y salvarse de la guerra. Éstos viven desde
							entonces en una nave espacial. Desde la estación espacial The
							Ark, cien de los supervivientes son enviados de vuelta al planeta
							tierra para investigarlo y poder estudiar las posibilidades que
							existen de volver a colonizar la tierra.</p>
					</div>
					<div class="col-lg-6 text-center">
						<iframe width="560" height="315"
							src="https://www.youtube.com/embed/ia1Fbg96vL0" frameborder="0"
							allowfullscreen></iframe>
						<div class="col-lg-12 text-center">
							<hr class="light">
							<button class='icono'></button>
							<button class='icono'></button>
							<button class='icono'></button>
							<button class='icono'></button>
							<button class='icono'></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-dark" id="capitulos">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="col-lg-4 text-center">
						<ul class='temporadas'>
							<h2 style="color: white">Temporada 1</h2>
							<li><a class='capitulos' href='/the100/capitulo1'>Capítulo
									1: Pilot <span class="glyphicon glyphicon-eye-open"></span>
							</a></li>
							<li><a class='capitulos'>Capítulo 2: Earth Skills <span
									class="glyphicon glyphicon-eye-open"></span></a></li>
							<li><a class='capitulos'>Capítulo 3: Earth Kills <span
									class="glyphicon glyphicon-eye-open"></span></a></li>
							<li><a class='capitulos'>Capítulo 4: Murphy's Law <span
									class="glyphicon glyphicon-eye-open"></span></a></li>
							<li><a class='capitulos'>Capítulo 5: Twilight's Last
									Gleaming <span class="glyphicon glyphicon-eye-open"></span>
							</a></li>
							<li><a class='capitulos'>Capítulo 6: His Sister's Keeper
									<span class="glyphicon glyphicon-eye-open"></span>
							</a></li>
							<li><a class='capitulos'>Capítulo 7: Contents Under
									Pressure <span class="glyphicon glyphicon-eye-open"></span>
							</a></li>
							<li><a class='capitulos'>Capítulo 8: Day Trip <span
									class="glyphicon glyphicon-eye-open"></span></a></li>
							<li><a class='capitulos'>Capítulo 9: Unity Day <span
									class="glyphicon glyphicon-eye-open"></span></a></li>
							<li><a class='capitulos'>Capítulo 10: I Am Become Death
									<span class="glyphicon glyphicon-eye-open"></span>
							</a></li>
							<li><a class='capitulos'>Capítulo 11: The Calm <span
									class="glyphicon glyphicon-eye-open"></span></a></li>
							<li><a class='capitulos'>Capítulo 12: We Are Gounders -
									Part 1 <span class="glyphicon glyphicon-eye-open"></span>
							</a></li>
							<li><a class='capitulos'>Capítulo 13: We Are Grounders -
									Part 2 <span class="glyphicon glyphicon-eye-open"></span>
							</a></li>
						</ul>
					</div>
					<div class="col-lg-4 text-center">
						<ul class='temporadas'>
							<h2 style="color: white">Temporada 2</h2>
							<li><a class='capitulos'>Capítulo 1: The 48 <span
									class="glyphicon glyphicon-eye-open"></span></a></li>
							<li><a class='capitulos'>Capítulo 2: Inclement Weather <span
									class="glyphicon glyphicon-eye-open"></span></a></li>
							<li><a class='capitulos'>Capítulo 3: Reapercussions <span
									class="glyphicon glyphicon-eye-open"></span></a></li>
							<li><a class='capitulos'>Capítulo 4: Many Happy Returns
									<span class="glyphicon glyphicon-eye-open"></span>
							</a></li>
							<li><a class='capitulos'>Capítulo 5: Human Trials <span
									class="glyphicon glyphicon-eye-open"></span></a></li>
							<li><a class='capitulos'>Capítulo 6: Fog of War <span
									class="glyphicon glyphicon-eye-open"></span></a></li>
							<li><a class='capitulos'>Capítulo 7: Long Into an Abyss
									<span class="glyphicon glyphicon-eye-open"></span>
							</a></li>
							<li><a class='capitulos'>Capítulo 8: Spacewalker <span
									class="glyphicon glyphicon-eye-open"></span></a></li>
							<li><a class='capitulos'>Capítulo 9: Remember Me <span
									class="glyphicon glyphicon-eye-open"></span></a></li>
							<li><a class='capitulos'>Capítulo 10: Survival of the
									Fittest <span class="glyphicon glyphicon-eye-open"></span>
							</a></li>
							<li><a class='capitulos'>Capítulo 11: Coup de Grace <span
									class="glyphicon glyphicon-eye-open"></span></a></li>
							<li><a class='capitulos'>Capítulo 12: Rubicon </a></li>
							<li><a class='capitulos'>Capítulo 13: Resurrection </a></li>
							<li><a class='capitulos'>Capítulo 14: Bodyguard of Lies
							</a></li>
							<li><a class='capitulos'>Capítulo 15: Blood Must Have
									Blood - Part 1 </a></li>
							<li><a class='capitulos'>Capítulo 16: Blood Must Have
									Blood - Part 2 </a></li>
						</ul>
					</div>
					<div class="col-lg-4 text-center">
						<ul class='temporadas'>
							<h2 style="color: white">Temporada 3</h2>
							<li><a class='capitulos'>Capítulo 1: Wanheda - Part 1 </a></li>
							<li><a class='capitulos'>Capítulo 2: Wanheda - Part 2 </a></li>
							<li><a class='capitulos'>Capítulo 3: Ye Who Enter Here </a>
							</li>
							<li><a class='capitulos'>Capítulo 4: Watch the Thrones </a>
							</li>
							<li><a class='capitulos'>Capítulo 5: Hakeldama </a></li>
							<li><a class='capitulos'>Capítulo 6: Bitter Harvest </a></li>
							<li><a class='capitulos'>Capítulo 7: Thirteen </a></li>
							<li><a class='capitulos'>Capítulo 8: Terms and
									Conditions </a></li>
							<li><a class='capitulos'>Capítulo 9: Stealing Fire </a></li>
							<li><a class='capitulos'>Capítulo 10: Fallen </a></li>
							<li><a class='capitulos'>Capítulo 11: Nevermore </a></li>
							<li><a class='capitulos'>Capítulo 12: Demons </a></li>
							<li><a class='capitulos'>Capítulo 13: Join or Die </a></li>
							<li><a class='capitulos'>Capítulo 14: Red Sky at Morning
							</a></li>
							<li><a class='capitulos'>Capítulo 15: Perverse
									Instantiation - Part 1 </a></li>
							<li><a class='capitulos'>Capítulo 16: Perverse
									Instantiation - Part 2 </a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--<section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="col-lg-12 text-center">
                <div id="disqus_thread"></div>
                <script>
                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                    /*
                    var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function () { // DON'T EDIT BELOW THIS LINE
                        var d = document,
                            s = d.createElement('script');
                        s.src = '//seriescarpincho.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

            </div>
        </div>
    </section>-->

	<section id="comentarios">
		<div class="container">
			<form action="/the100/comentarios" method="post">
				<div class="row">
					<textarea placeholder='Deja tu comentario...' class='comentarios'
						name='texto'></textarea>
				</div>
				<div class="row">
					<input class='comentar' type='submit' value='Comentar' />
					<!-- <button class='comentar' id='cancelar'>Cancelar</button> -->
				</div>
			</form>
			{{#comentarios}}
			<div id="{{id}}" style="display: {{display">
				<div class="row">
					<div class='perfil-tripis'></div>
					<div class='div-comentarios'>
						<textarea readonly class='comentarios'>{{texto}}</textarea>
					</div>
				</div>
				<div class="row">
					<h5 class='nombre-perfil'>XxcarpinchoxX</h5>
					<button class='comentar'>Responder</button>
				</div>
			</div>
			{{/comentarios}}
			<!--   <div class="row">
				<div class='perfil-cabezon'></div>
				<div class='div-comentarios'>
					<textarea readonly class='comentarios'> ¡Esta serie merece una valoración de 5 carpinchos!</textarea>
				</div>
			</div>
			<div class="row">
				<h5 class='nombre-perfil'>Carpancha</h5>
				<button class='comentar'>Responder</button>
			</div> -->

		</div>

		<div class="col-lg-12 text-center">
			<a id="verMas" onclick="vermas()"
				class="page-scroll btn btn-default btn-xl sr-button"
				href="javascript:click();">Ver Más</a>
		</div>

	</section>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">&copy; 2017 SeriesCarpincho</div>

			</div>
		</div>
	</footer>

	<!-- jQuery -->
	<script src="vendor/jquery/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
	<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

	<!-- Theme JavaScript -->
	<script src="js/creative.min.js"></script>
	<!--<script id="dsq-count-scr" src="//seriescarpincho.disqus.com/count.js" async></script>-->


	<script>
		var i = 3

		function click() {
			i++;
			if (i == 1) {
				document.getElementById("clicks").innerHTML = i;
			} else {
				document.getElementById("clicks").innerHTML = i;
			}

		}
		function vermas() {
			var eldiv = document.getElementById(i + 1);
			eldiv.style.display = "block";

		}
	</script>
</body>

</html>